.balanceCard {
  margin: 0 24px;
  background-color: white;
  width: 30%;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.balanceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balanceLabel {
  color: #657a95;
  font-size: 16px;
  font-weight: 600;
}

.visibilityToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
}

.visibilityToggle:focus {
  outline: none;
}

.balanceAmount {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.balanceUpdateInfo {
  color: #657a95;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.accountInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.agencyInfo {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.infoLabel {
  color: #657a95;
  font-size: 12px;
  font-weight: 400;
}

.infoValue {
  color: #657a95;
  font-size: 16px;
  font-weight: 700;
}

.hiddenBalance {
  width: 208px;
  height: 6px;
  border-radius: 8px;
  background: rgba(0, 197, 203, 0.3);
}

.balanceLoading,
.accountLoading {
  text-align: center;
  padding: 20px;
  color: #555;
  font-style: italic;
}

.balanceError,
.accountError {
  text-align: center;
  padding: 20px;
  color: #d32f2f;
  font-weight: 500;
}

@media (max-width: 768px) {
  .balanceCard {
    margin: 0px 24px;
    margin-bottom: 20px;
    background-color: white;
    width: 70%;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
}
